################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsDeduplicator/bin/Debug
/.vs
/WindowsDeduplicator/obj/Debug
/WindowsDeduplicator.Console/bin/Debug
/WindowsDeduplicator.Console/obj/Debug
/WindowsDeduplicator.Console/obj/Release
